<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品详情</title>
		<link rel="shortcut icon" type="image/X-icon" href="../../static/images/public/title_logo.png" />
		<link rel="stylesheet" href="../../static/css/style.css" />
		<link rel="stylesheet" href="../../static/css/mall.css" />
		<link rel="stylesheet" href="../../static/css/helpCenter.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/userCenter.css"/>
		<link rel="stylesheet" href="../../static/css/productDetails.css" />
		<script type="text/javascript" src="../js/jquery-1.12.4.min.js" ></script>
		<script type="text/javascript" src="../js/style.js" ></script>
		<script type="text/javascript" src="../js/other.js" ></script>	
		<script type="text/javascript" src="../js/jquery.imagezoom.min.js" ></script>
		<!--<script type="text/javascript" src="../js/productDetail.js" ></script>-->
		<script type="text/javascript" src="../js/jquery.circliful.min.js" ></script><!--百分比-->
		<script type="text/javascript" src="../js/jquery.cookie.js" ></script>
		<script type="text/javascript" src="../js/jquery.fly.min.js" ></script>
	</head>
	<body>
		
	<a id="header" href=""></a>
	
	<div id="site_nav">
		<ul id="site_nav_center">
			<li class="nav_left_home"><a href="#">中酒首页</a></li>
			<li class="nav_left">Hi，欢迎来到中酒</li>
			<li class="nav_left"><a href="login.html" target="_blank">长剑腥腥挂壁</a></li>
			<li class="nav_left register"><a href="register.html" target="_blank">退出</a></li>
			<li class="nav_right tel">订购热线：<strong class="phoneNumber">400-798-9999</strong></li>
			<li class="nav_right help"><a>帮助中心</a></li>
			<li class="nav_right mobile"><a href="">手机版</a></li>
			<li class="nav_right myzj"><a href="login.html" target="_blank">我的中酒</a></li>
		</ul>
	</div>
	
	<div id="search_area">
		<h2><a href=""><img src="../../static/images/public/logo.jpg"></a></h2>
		
		<div id="gif_ad"><a href=""><img src="../../static/images/public/0901gif.gif"></a></div>
		
		<div id="search_area_input">
			<form id="search_form" name="" action="">
				<input class="txt" type="text" value="" placeholder="茅台" />
				<button class="btn">搜索</button>
			</form>
			
			<ul id="hot_search">
				<li>热门搜索：</li>
				<li><a href="">买一赠一</a></li>
				<li><a href="">新人特权</a></li>
				<li><a href="">五粮液</a></li>
				<li><a href="">茅台</a></li>
				<li><a href="">国台</a></li>
				<li><a href="">泸州老窖</a></li>
			</ul>
		</div>
		
		<div id="myShoppingCart_warp">
			<h2 id="myShoppingCart">
				<i class="icon_car"></i>
				<a href="">我的购物车</a>
				<span class="pao">
					<i class="pr_num">0</i>
				</span>	
			</h2>
		</div>	
	</div>
	
	<div id="main_nav_warp">
		<ul id="main_nav">
			<li class="all_goods user_all_goods">全部商品分类
			
				<!--banner图上部分定位 相对于nav-->
				<div id="banner_center"  class="user_banner_center">
					<ul id="center_left">
			<li class="whiteSpirit">					
				<a href="javascript:;"><i></i>名优白酒</a>
						
				<!--名优白酒 详情显示区-->
				<div id="all_goods_area" class="whiteSpirit_area">
					<div id="all_goods_area_left">
						<dl id="brand">
							<dt>品牌</dt>
							<dd>
								<ul>
									<li><a href="">茅台</a></li>
									<li><a href="">五粮液</a></li>
									<li><a href="">泸州老窖</a></li>
									<li><a href="">剑南春</a></li>
									<li><a href="">洋河</a></li>
									<li><a href="">汾酒</a></li>
									<li><a href="">天佑德</a></li>
									<li><a href="">小糊涂仙</a></li>
									<li><a href="">郎酒</a></li>
									<li><a href="">杜康</a></li>
									<li><a href="">古井</a></li>
									<li><a href="">衡水老白干</a></li>
									<li><a href="">孔府家</a></li>
									<li><a href="">西凤</a></li>
									<li><a href="">国台</a></li>
									<li><a href="">牛栏山</a></li>
									<li><a href="">青青稞酒</a></li>
								</ul>
							</dd>
						</dl>
						
						<dl id="brand">
							<dt>品种</dt>
							<dd>
								<ul>
									<li><a href="">酱香型</a></li>
									<li><a href="">绵柔型</a></li>
									<li><a href="">浓香型</a></li>
									<li><a href="">清香型</a></li>
									<li><a href="">特香型</a></li>
									<li><a href="">董香型</a></li>
									<li><a href="">凤香型</a></li>
									<li><a href="">青稞酒</a></li>	
								</ul>
							</dd>
						</dl>
						
						<dl id="brand">
							<dt>产地</dt>
							<dd>
								<ul>
									<li><a href="">贵州</a></li>
									<li><a href="">江西</a></li>
									<li><a href="">四川</a></li>
									<li><a href="">江苏</a></li>
									<li><a href="">山西</a></li>
									<li><a href="">江苏</a></li>
									<li><a href="">山西</a></li>
									<li><a href="">山东</a></li>	
									<li><a href="">内蒙</a></li>
									<li><a href="">河南</a></li>
									<li><a href="">青海</a></li>	
								</ul>
							</dd>
						</dl>	
					</div><!--<div id="all_goods_area_left">-->
						
					<div id="all_goods_area_right">
						<p class="all_goods_area_right_title">促销活动</p>
						<p class="all_goods_area_right_img1"><img src="../../static/images/public/0822guanggao.jpg"></p>
						<p class="all_goods_area_right_img2"><img src="../../static/images/public/0810guanggao.jpg"></p>
					</div>
				</div><!--<div id="all_goods_area" class="whiteSpirit_area">名优白酒-->
				
			</li>
						
						<li class="wine">					
							<a href="javascript:;"><i></i>葡萄酒/红酒</a>
							
							<!--葡萄酒/红酒 详情显示区-->
							<div id="all_goods_area"  class="wine_area">
								<div id="all_goods_area_left">
									<dl id="brand">
										<dt>品牌</dt>
										<dd>
											<ul>
												<li><a href="">拉菲</a></li>
												<li><a href="">佩西</a></li>
												<li><a href="">张裕</a></li>
												<li><a href="">易莎特</a></li>
												<li><a href="">黄尾袋鼠</a></li>
												<li><a href="">乐创</a></li>
												<li><a href="">小龙船</a></li>
												<li><a href="">圣迪斯</a></li>
												<li><a href="">澜爵</a></li>
												<li><a href="">奔富</a></li>
												<li><a href="">康迪</a></li>
												<li><a href="">美圣世家</a></li>
												<li><a href="">中级庄</a></li>
												<li><a href="">通天</a></li>
												<li><a href="">马克斯威</a></li>
												<li><a href="">特拉托</a></li>
											</ul>
										</dd>
									</dl>
									
									<dl id="brand">
										<dt>品种</dt>
										<dd>
											<ul>
												<li><a href="">干红葡萄酒</a></li>
												<li><a href="">干白葡萄酒</a></li>
												<li><a href="">起泡酒/香槟</a></li>
												<li><a href="">冰酒</a></li>
												<li><a href="">果酒</a></li>
												<li><a href="">甜桃红</a></li>
												<li><a href="">甜白</a></li>	
											</ul>
										</dd>
									</dl>
									
									<dl id="brand">
										<dt>产地</dt>
										<dd>
											<ul>
												<li><a href="">法国</a></li>
												<li><a href="">西班牙</a></li>
												<li><a href="">智利</a></li>
												<li><a href="">阿根廷</a></li>
												<li><a href="">澳大利亚</a></li>
												<li><a href="">南非</a></li>
												<li><a href="">中国</a></li>
												<li><a href="">美国</a></li>	
											</ul>
										</dd>
									</dl>	
								</div><!--<div id="all_goods_area_left">-->
								<div id="all_goods_area_right">
									<p class="all_goods_area_right_title">促销活动</p>
									<p class="all_goods_area_right_img1"><img src="../../static/images/public/0323lafeiguanggao.jpg"></p>
									<p class="all_goods_area_right_img2"><img src="../../static/images/public/0711hyguanggao.jpg"></p>
								</div>
							</div>	
		
						</li>
						
						<li class="foreignWine">					
							<a href="javascript:;"><i></i>洋酒</a>
							
							<!--洋酒 详情显示区-->
							<div id="all_goods_area"  class="foreignWine_area">
								<div id="all_goods_area_left">
									<dl id="brand">
										<dt>品牌</dt>
										<dd>
											<ul>
												<li><a href="">马爹利</a></li>
												<li><a href="">兄弟</a></li>
												<li><a href="">人头马</a></li>
												<li><a href="">芝华士</a></li>
												<li><a href="">深蓝</a></li>
												<li><a href="">百利甜</a></li>
												<li><a href="">绝对伏特加</a></li>
												<li><a href="">杰克丹尼</a></li>
												<li><a href="">百龄坛</a></li>
												<li><a href="">红广场</a></li>
												<li><a href="">百加得</a></li>
												<li><a href="">尊尼获加</a></li>
												<li><a href="">叶卡</a></li>
												<li><a href="">轩尼诗</a></li>
												<li><a href="">皇家礼炮</a></li>
												<li><a href="">摩根船长</a></li>
											</ul>
										</dd>
									</dl>
									
									<dl id="brand">
										<dt>品种</dt>
										<dd>
											<ul>
												<li><a href="">聚会用酒</a></li>
												<li><a href="">商务用酒</a></li>
											</ul>
										</dd>
									</dl>
									
									<dl id="brand">
										<dt>产地</dt>
										<dd>
											<ul>
												<li><a href="">国内</a></li>
												<li><a href="">法国</a></li>
												<li><a href="">英国</a></li>
												<li><a href="">美国</a></li>
											</ul>
										</dd>
									</dl>	
								</div><!--<div id="all_goods_area_left">-->
								<div id="all_goods_area_right">
									<p class="all_goods_area_right_title">促销活动</p>
									<p class="all_goods_area_right_img1"><img src="../../static/images/public/yang3.jpg"></p>
									<p class="all_goods_area_right_img2"><img src="../../static/images/public/yang4.jpg"></p>
								</div>
							</div>
							
						</li>
						
						<li class="yellowRice">					
							<a href="javascript:;"><i></i>黄酒</a>
							
							<!--黄酒 详情显示区-->
							<div id="all_goods_area"  class="yellowRice_area">
								<div id="all_goods_area_left">
									<dl id="brand">
										<dt>品牌</dt>
										<dd>
											<ul>
												<li><a href="">塔牌</a></li>
												<li><a href="">古越龙山</a></li>
												<li><a href="">石库门</a></li>
												<li><a href="">会稽山</a></li>
												<li><a href="">女儿红</a></li>
												<li><a href="">唐宋</a></li>
												<li><a href="">劲酒</a></li>
												<li><a href="">尧喝货</a></li>
											</ul>
										</dd>
									</dl>
									
									<dl id="brand">
										<dt>品种</dt>
										<dd>
											<ul>
												<li><a href="">聚会用酒</a></li>
												<li><a href="">礼节拜访</a></li>
												<li><a href="">婚庆用酒</a></li>
											</ul>
										</dd>
									</dl>
									
									<dl id="brand">
										<dt>价格</dt>
										<dd>
											<ul>
												<li><a href="">1-99</a></li>
												<li><a href="">100-199</a></li>
												<li><a href="">200-299</a></li>
											</ul>
										</dd>
									</dl>	
								</div><!--<div id="all_goods_area_left">-->
								<div id="all_goods_area_right">
									<p class="all_goods_area_right_title">促销活动</p>
									<p class="all_goods_area_right_img1"><img src="../../static/images/public/huang1.jpg"></p>
									<p class="all_goods_area_right_img2"><img src="../../static/images/public/huang2.jpg"></p>
								</div>
							</div>
							
						</li>
						
						<li class="gift">					
							<a href="javascript:;"><i></i>礼品专区</a>
							
							<!--礼品专区 详情显示区-->
							<div id="all_goods_area"  class="gift_area">
								<div id="all_goods_area_left">
									<dl id="brand">
										<dt>品牌</dt>
										<dd>
											<ul>
												<li><a href="">国台</a></li>
												<li><a href="">泸州老窖</a></li>
												<li><a href="">牧童村 </a></li>
												<li><a href="">汾酒</a></li>
												<li><a href="">拉菲</a></li>
												<li><a href="">张裕</a></li>
												<li><a href="">小菊屋</a></li>
											</ul>
										</dd>
									</dl>
									
									<dl id="brand">
										<dt>品种</dt>
										<dd>
											<ul>
												<li><a href="">酱香型</a></li>
												<li><a href="">清香型</a></li>
												<li><a href="">干红葡萄酒</a></li>
												<li><a href="">起泡酒</a></li>
											</ul>
										</dd>
									</dl>
									
									<dl id="brand">
										<dt>产地</dt>
										<dd>
											<ul>
												<li><a href="">四川</a></li>
												<li><a href="">贵州</a></li>
												<li><a href="">陕西</a></li>
												<li><a href="">法国</a></li>
											</ul>
										</dd>
									</dl>	
								</div><!--<div id="all_goods_area_left">-->
								<div id="all_goods_area_right">
									<p class="all_goods_area_right_title">促销活动</p>
									<p class="all_goods_area_right_img1"><img src="../../static/images/public/0616tydguanggao.jpg"></p>
									<p class="all_goods_area_right_img2"><img src="../../static/images/public/0711dkguanggao.jpg"></p>
								</div>
							</div>
							
						</li>
						
						<li class="wedCelebration">					
							<a href="javascript:;"><i></i>婚庆专用</a>
							
							<!--婚庆专用  详情显示区-->
							<div id="all_goods_area"  class="wedCelebration_area">
								<div id="all_goods_area_left">
									<dl id="brand">
										<dt>品牌</dt>
										<dd>
											<ul>
												<li><a href="">五粮液</a></li>
												<li><a href="">茅台</a></li>
												<li><a href="">牛栏山 </a></li>
												<li><a href="">剑南春</a></li>
												<li><a href="">西凤</a></li>
												<li><a href="">沱牌</a></li>
											</ul>
										</dd>
									</dl>
									
									<dl id="brand">
										<dt>品种</dt>
										<dd>
											<ul>
												<li><a href="">白酒</a></li>
												<li><a href="">红酒</a></li>
											</ul>
										</dd>
									</dl>
									
									<dl id="brand">
										<dt>产地</dt>
										<dd>
											<ul>									
												<li><a href="">贵州</a></li>
												<li><a href="">四川</a></li>
												<li><a href="">南非</a></li>
												<li><a href="">法国</a></li>
												<li><a href="">中国</a></li>
											</ul>
										</dd>
									</dl>	
								</div><!--<div id="all_goods_area_left">-->
								<div id="all_goods_area_right">
									<p class="all_goods_area_right_title">促销活动</p>
									<p class="all_goods_area_right_img1"><img src="../../static/images/public/0704mkswguanggao.jpg"></p>
									<p class="all_goods_area_right_img2"><img src="../../static/images/public/0711bjguangao.jpg"></p>
								</div>
							</div>
							
						</li>
						
					</ul>
					
				</div>
			
			</li>
			<li class="main_nav_li"><a href="">商城</a></li>
			<li class="main_nav_li"><a href="">闪购</a></li>
			<li class="main_nav_li"><a href="">白酒专场</a></li>
			<li class="main_nav_li"><a href="">红酒专场</a></li>
			<li class="main_nav_li"><a href="">青青稞酒</a></li>
			<li class="main_nav_li"><a href="">美国优选</a></li>
			<li class="main_nav_li"><a href="">新品驾到</a></li>
			<li class="main_nav_li"><a href="">中酒资讯</a></li>
			<li class="main_nav_li hot_area"><a href="">会员专区</a></li>	
		</ul>	
	</div>	
		
	<div id="location_chain">
		<a href="">首页</a>>
		<a href="">白酒</a>>
		<a href="">泸州老窖</a>>
		【中酒特惠】52°泸州窖酒（窖藏龙窖） 500ml（6瓶装）
	</div>
	
	
	

	
	<div id="pd_warp">	
		<!--放大镜 部分-->
		
		
		<div class="imgbox">
			<div class="tb-booth tb-pic tb-s310">
				<a href="javascript:;">
					<img src="../../static/images/magnifying/big1.jpg" rel="../images/magnifying/big1.jpg" class="jqzoom" />
				</a>
			</div>
			<ul class="tb-thumb" id="thumblist">
				<li class="tb-selected">
					<div class="tb-pic tb-s40">
						<a href="javascript:;">
							<img src="../../static/images/magnifying/big1.jpg" mid="../images/magnifying/big1.jpg" big="../images/magnifying/big1.jpg">
						</a>
					</div>	
				</li>
				<li>
					<div class="tb-pic tb-s40">
						<a href="javascript:;">
							<img src="../../static/images/magnifying/big2.jpg" mid="../images/magnifying/big2.jpg" big="../images/magnifying/big2.jpg">
						</a>						
					</div>					
				</li>
				<li>
					<div class="tb-pic tb-s40">
						<a href="javascript:;">
							<img src="../../static/images/magnifying/big3.jpg" mid="../images/magnifying/big3.jpg" big="../images/magnifying/big3.jpg">
						</a>						
					</div>				
				</li>
				<li>
					<div class="tb-pic tb-s40">
						<a href="javascript:;">
							<img src="../../static/images/magnifying/big4.jpg" mid="../images/magnifying/big4.jpg" big="../images/magnifying/big4.jpg">
						</a>	
					</div>					
				</li>
				<li>
					<div class="tb-pic tb-s40">
						<a href="javascript:;">
							<img src="../../static/images/magnifying/big5.jpg" mid="../images/magnifying/big5.jpg" big="../images/magnifying/big5.jpg">
						</a>						
					</div>
					
				</li>
			</ul>
			
			<div class="shop_num">
				<p>
					<span class="goodsid">商品编号：<i>110857280300</i></span>
					<a href="javascript:;"><i></i>收藏</a>
				</p>
			</div>	
		</div>
		
		
		<div id="pd_center">
			<h1 class="shop_name">【中酒特惠】52°泸州窖酒（窖藏龙窖） 500ml（6瓶装）</h1>
			<p>【新老包装交替发货，产品以实物为准】</p>
			<div class="price_area">
				<p class="price_area_1">
					<span>中酒价：</span>
					<b class="goodsprice">￥178.00</b>
				</p>
				<p class="price_area_2">
					<span>促&nbsp;&nbsp;&nbsp;销：</span>
					<b>特价</b>
				</p>
			</div>
			
			<div class="add_area">
				<p class="price_area_3">
					<span>配&nbsp;&nbsp;&nbsp;送：</span>
					<b>全国（个别地区除外）</b>
				</p>
				<p class="price_area_4">
					<span>库&nbsp;&nbsp;&nbsp;存：</span>
					<b>有货</b>
				</p>
			</div>
			
			<div class="prompt_area">
				<p class="price_area_3">
					<span>商品保证：</span>
					<b>厂家直接供货，源头保真，首创四码合一防伪技术</b>
				</p>
				<p class="price_area_4">
					<span>温馨提示：</span>
					<b>1.满99在线支付享9.9折优惠；</b>
				</p>
				<p class="price_area_4">
					<span></span>
					<b>2.特价商品不能使用优惠券抵扣；</b>
				</p>
				<p class="price_area_4">
					<span></span>
					<b>3.满99元免运费</b>
				</p>
				<p class="price_area_4">
					<span></span>
					<b>4.七天无条件退货</b>
				</p>
			</div>
			
			<div class="putcart_warp">
				<span class="changenum">
					<a class="cutnum cutNum" href="javascript:;">-</a>
					<input class="num_text numValue" value="1" type="text" />
					<a class="addnum addNum" href="javascript:;">+</a>
				</span>
				<div class="btn_warp">
					<a class="add_btn" href="javascript:;"><i></i>加入购物车</a>
					<a class="first_btn" href="javascript:;">立即购物</a>
				</div>
				
			</div>
		</div>
		
		
		<ul id="pd_right">
			<li>
				<img src="../../static/images/other/S_b40025a4-a4b5-47b2-bd89-0eaac00baebf.jpg">
			</li>
			<li>
				<h3>会员评价</h3>
				<p class="star_grade">
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
					<a href="javascript:;"></a>
				</p>
			</li>
			<li>
				<div id="myStat" data-dimension="120" data-text="26%" data-info="New Clients" data-width="15" data-fontsize="20" data-percent="26" data-fgcolor="#ED4950" data-bgcolor="#eee" data-fill="#fff"></div>
				<h3>会员购买率</h3>
			</li>
			<li style="border: 0;">
				<h4>
					下载中酒网手机客户端<br />
					随时抢美酒
				</h4>
				
			</li>
		</ul>
		
		
		
		
	</div>
	<script>
		
	</script>
	
	
	<!--放大镜下面 块-->
	<div id="pd_conment_warp">
		
		<div id="pd_conment_left">
			<!--左侧 上 看过本品的人还买过-->
			<h3>看过本品的人还买过</h3>
			<ul>
				<li>
					<img src="../../static/images/other/12a7db67-ea26-41bf-843d-b2567029a7f8M.jpg.png" />
					<p class="name">
						52°百年泸州老窖窖龄30年 500ml 
					</p>
					<h2>累计评价:1049</h2>
					<em>￥179.00</em>
					<p class="addcart"><a href="javascript:;">加入购物车</a></p>
				</li>
			
				<li>
					<img src="../../static/images/other/1c3cca76-6ce4-42c0-86aa-1476edf663e8M.jpg.png" />
					<p class="name">
						53°十年老白汾酒 475ml  
					</p>
					<h2>累计评价:2164</h2>
					<em>￥169.00</em>
					<p class="addcart"><a href="javascript:;">加入购物车</a></p>
				</li>
			
				<li style="border:0;">
					<img src="../../static/images/other/2eeff63c-a802-41a9-a827-bc68f104327aM.jpg.png" />
					<p class="name">
						53°汾酒封坛15年 475ml  
					</p>
					<h2>累计评价:482</h2>
					<em>￥169.00</em>
					<p class="addcart"><a href="javascript:;">加入购物车</a></p>
				</li>
			</ul>
			
			
			<!--左侧 下 热销排行榜-->
			<h4>热销排行榜</h4>
			<ul class="sell_hot">
				<li>
					<i class="top">1</i>
					42°牛栏山陈酿 500ml
					<a>
						<img src="../../static/images/other/88427fef-8adb-4c0f-bfd8-ef4dbaeed223M.jpg.png" />
						<p class="rank_name">蒙蒂尼亚克干红 750ml（2瓶装）</p>
						<p class="rank_price">￥79.00</p>
					</a>
				</li>
				<li>
					<i class="top">2</i>
					36°百年牛栏山陈酿
					<a>
						<img src="../../static/images/other/88427fef-8adb-4c0f-bfd8-ef4dbaeed223M.jpg.png" />
						<p class="rank_name">蒙蒂尼亚克干红 750ml（2瓶装）</p>
						<p class="rank_price">￥79.00</p>
					</a>
				</li>
				<li>
					<i class="top">3</i>
					36°百年牛栏山陈酿
					<a>
						<img src="../../static/images/other/88427fef-8adb-4c0f-bfd8-ef4dbaeed223M.jpg.png" />
						<p class="rank_name">蒙蒂尼亚克干红 750ml（2瓶装）</p>
						<p class="rank_price">￥79.00</p>
					</a>
				</li>
				<li>
					<i>4</i>
					58°百年牛栏山清香白酒
					<a>
						<img src="../../static/images/other/88427fef-8adb-4c0f-bfd8-ef4dbaeed223M.jpg.png" />
						<p class="rank_name">蒙蒂尼亚克干红 750ml（2瓶装）</p>
						<p class="rank_price">￥79.00</p>
					</a>
				</li>
				<li>
					<i>5</i>
					36°百年牛栏山陈酿
					<a>
						<img src="../../static/images/other/88427fef-8adb-4c0f-bfd8-ef4dbaeed223M.jpg.png" />
						<p class="rank_name">蒙蒂尼亚克干红 750ml（2瓶装）</p>
						<p class="rank_price">￥79.00</p>
					</a>
				</li>
				<li>
					<i>6</i>
					36°百年牛栏山陈酿
					<a>
						<img src="../../static/images/other/88427fef-8adb-4c0f-bfd8-ef4dbaeed223M.jpg.png" />
						<p class="rank_name">蒙蒂尼亚克干红 750ml（2瓶装）</p>
						<p class="rank_price">￥79.00</p>
					</a>
				</li>
				<li>
					<i>7</i>
					36°百年牛栏山陈酿
					<a>
						<img src="../../static/images/other/88427fef-8adb-4c0f-bfd8-ef4dbaeed223M.jpg.png" />
						<p class="rank_name">蒙蒂尼亚克干红 750ml（2瓶装）</p>
						<p class="rank_price">￥79.00</p>
					</a>
				</li>
				<li>
					<i>8</i>
					36°百年牛栏山陈酿
					<a>
						<img src="../../static/images/other/88427fef-8adb-4c0f-bfd8-ef4dbaeed223M.jpg.png" />
						<p class="rank_name">蒙蒂尼亚克干红 750ml（2瓶装）</p>
						<p class="rank_price">￥79.00</p>
					</a>
				</li>
				<li>
					<i>9</i>
					36°百年牛栏山陈酿
					<a>
						<img src="../../static/images/other/88427fef-8adb-4c0f-bfd8-ef4dbaeed223M.jpg.png" />
						<p class="rank_name">蒙蒂尼亚克干红 750ml（2瓶装）</p>
						<p class="rank_price">￥79.00</p>
					</a>
				</li>
					
				<li style="border:0;">
					<i>10</i>
					36°百年牛栏山陈酿
					<a>
						<img src="../../static/images/other/88427fef-8adb-4c0f-bfd8-ef4dbaeed223M.jpg.png" />
						<p class="rank_name">蒙蒂尼亚克干红 750ml（2瓶装）</p>
						<p class="rank_price">￥79.00</p>
					</a>
				</li>
			</ul>
			
			
			
		</div>
		
		
		
		
		
		
		<!--右侧-->
		<div id="pd_conment_right">
			<ul id="pd_conment_right_top">
				<li class="top_click">商品介绍</li>
				<li>商品评价（100%）</li>
				<li>中酒服务</li>
				<li class="pd_top_addcart">
					<a href="javascript:;">
						客户端首单
						<span>立减5元</span>
						<em></em>
						<i></i>	
					</a>
					<p><i></i>加入购物车</p>
				</li>
			</ul>
			
			<!--商品介绍-->
			<div id="commodityPresentation">
				<ul class="pd_cp_top">
					<li>
						<p>储藏条件：恒温恒湿 避光避震</p>
						<p>产地：贵州</p>
					</li>
					<li>
						<p>品牌：茅台</p>
						<p>原料：水、高粱、小麦</p>
					</li>
					<li>
						<p>香型：酱香型</p>
						<p>酒精度：53%vol</p>
					</li>
					<li>
						<p>生产厂家：贵州茅台酒股份有限公司</p>
						<p>净含量：500ml*2</p>
					</li>
				</ul>
				
				<h4><span>推荐活动&商品</span></h4>
				
				<div class="pd_cp_img1">
					<a href=""><img src="../../static/images/other/0901guanliantu.jpg"></a>
				</div>
				
				<div class="pd_cp_list">
					<ul>
						<li class="pd_cp_list_link">
							<a href="">
								<div class="icon-q"></div>
								<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
								<p>【中秋特惠】52°出口型白西凤绵柔凤香型500ml*2</p>
								<div class="price_btn">
									<span class="yes">立即购买</span>
									<span class="highlight">￥199.00</span>
								</div>
							</a>
						</li>
						
						<li class="pd_cp_list_link">
							<a href="">
								<div class="icon-q"></div>
								<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
								<p>【中秋特惠】52°出口型白西凤绵柔凤香型500ml*2</p>
								<div class="price_btn">
									<span class="yes">立即购买</span>
									<span class="highlight">￥199.00</span>
								</div>
							</a>
						</li>
						
						<li class="pd_cp_list_link">
							<a href="">
								<div class="icon-q"></div>
								<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
								<p>【中秋特惠】52°出口型白西凤绵柔凤香型500ml*2</p>
								<div class="price_btn">
									<span class="yes">立即购买</span>
									<span class="highlight">￥199.00</span>
								</div>
							</a>
						</li>
						
						<li class="pd_cp_list_link">
							<a href="">
								<div class="icon-q"></div>
								<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
								<p>【中秋特惠】52°出口型白西凤绵柔凤香型500ml*2</p>
								<div class="price_btn">
									<span class="yes">立即购买</span>
									<span class="highlight">￥199.00</span>
								</div>
							</a>
						</li>
						
						<li class="pd_cp_list_link">
							<a href="">
								<div class="icon-q"></div>
								<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
								<p>【中秋特惠】52°出口型白西凤绵柔凤香型500ml*2</p>
								<div class="price_btn">
									<span class="yes">立即购买</span>
									<span class="highlight">￥199.00</span>
								</div>
							</a>
						</li>
						
						<li class="pd_cp_list_link">
							<a href="">
								<div class="icon-q"></div>
								<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
								<p>【中秋特惠】52°出口型白西凤绵柔凤香型500ml*2</p>
								<div class="price_btn">
									<span class="yes">立即购买</span>
									<span class="highlight">￥199.00</span>
								</div>
							</a>
						</li>
						
						<li class="pd_cp_list_link">
							<a href="">
								<div class="icon-q"></div>
								<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
								<p>【中秋特惠】52°出口型白西凤绵柔凤香型500ml*2</p>
								<div class="price_btn">
									<span class="yes">立即购买</span>
									<span class="highlight">￥199.00</span>
								</div>
							</a>
						</li>
						
						<li class="pd_cp_list_link">
							<a href="">
								<div class="icon-q"></div>
								<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
								<p>【中秋特惠】52°出口型白西凤绵柔凤香型500ml*2</p>
								<div class="price_btn">
									<span class="yes">立即购买</span>
									<span class="highlight">￥199.00</span>
								</div>
							</a>
						</li>
						
						<li class="pd_cp_list_link">
							<a href="">
								<div class="icon-q"></div>
								<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
								<p>【中秋特惠】52°出口型白西凤绵柔凤香型500ml*2</p>
								<div class="price_btn">
									<span class="yes">立即购买</span>
									<span class="highlight">￥199.00</span>
								</div>
							</a>
						</li>
						
						<li class="pd_cp_list_link">
							<a href="">
								<div class="icon-q"></div>
								<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
								<p>【中秋特惠】52°出口型白西凤绵柔凤香型500ml*2</p>
								<div class="price_btn">
									<span class="yes">立即购买</span>
									<span class="highlight">￥199.00</span>
								</div>
							</a>
						</li>
						
						<li class="pd_cp_list_link">
							<a href="">
								<div class="icon-q"></div>
								<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
								<p>【中秋特惠】52°出口型白西凤绵柔凤香型500ml*2</p>
								<div class="price_btn">
									<span class="yes">立即购买</span>
									<span class="highlight">￥199.00</span>
								</div>
							</a>
						</li>
						
						<li class="pd_cp_list_link">
							<a href="">
								<div class="icon-q"></div>
								<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
								<p>【中秋特惠】52°出口型白西凤绵柔凤香型500ml*2</p>
								<div class="price_btn">
									<span class="yes">立即购买</span>
									<span class="highlight">￥199.00</span>
								</div>
							</a>
						</li>
						
					</ul>
				</div>
				
				<h4><span>商品特点</span></h4>
				<div id="characteristic">
					<img src="../../static/images/other/750_01(4).jpg" />
					<img src="../../static/images/other/750_02(4).jpg" />
					<img src="../../static/images/other/750_03(4).jpg" />
					<img src="../../static/images/other/750_04(3).jpg" />
					<img src="../../static/images/other/750_05(4).jpg" />
				</div>
				
				
				
				<h4><span>商品评价</span></h4>
			</div>
			<!--商品评价-->
			<!--中酒服务-->
		</div>
		
	</div>
	

	
	
	<!--底部-->
	<div id="QSguarantee_warp">
		<ul id="QSguarantee">
			<li class="QS_firstChild">
				<i class="QA"></i>
				<h3>品质保障</h3>
				<p>厂家直销 真品防伪</p>
			</li>
			<li>
				<i class="O2O"></i>
				<h3>酒类O2O</h3>
				<p>线上线下标准化</p>
			</li>
			<li>
				<i class="SR"></i>
				<h3>7天无理由退货</h3>
				<p>拆封无条件退货</p>
			</li>
			<li>
				<i class="FS"></i>
				<h3>快速安全</h3>
				<p>专业配送 安全到达</p>
			</li>
			<li>
				<i class="ML"></i>
				<h3>百万口碑</h3>
				<p>400万用户的认可</p>
			</li>
			<li>
				<i class="KS"></i>
				<h3>金牌服务</h3>
				<p>7*12小时贴心服务</p>
			</li>
		</ul>
	</div>
	
	
	<div id="service_warp">
		<div id="service">
			<dl>
				<dt>购物指南</dt>
				<dd><a href="">购物流程</a></dd>
				<dd><a href="">常见问题</a></dd>
				<dd><a href="">帮助中心</a></dd>
				<dd><a href="">会员协议</a></dd>
			</dl>
			<dl>
				<dt>购物配送</dt>
				<dd><a href="">99免运费</a></dd>
				<dd><a href="">配送说明</a></dd>
				<dd><a href="">快递查询</a></dd>
				<dd><a href="">验货与签收</a></dd>
			</dl>
			<dl>
				<dt>支付方式</dt>
				<dd><a href="">货到付款</a></dd>
				<dd><a href="">支付宝</a></dd>
				<dd><a href="">银联 信用卡</a></dd>
				<dd><a href="">在线支付9.9折</a></dd>
			</dl>
			<dl>
				<dt>售后服务</dt>
				<dd><a href="">服务承诺</a></dd>
				<dd><a href="">退款说明</a></dd>
				<dd><a href="">退换货政策</a></dd>
				<dd><a href="">退换货流程</a></dd>
			</dl>
			<dl>
				<dt>服务保障</dt>
				<dd><a href="">真品防伪 四码合一</a></dd>
				<dd><a href="">7天无条件退货</a></dd>
				<dd><a href="">7*12小时贴心服务</a></dd>
				<dd><a href="">30分钟快速响应</a></dd>
			</dl>
			
			<dl class="phone_zj">
				<dt>手机中酒</dt>
				<dd>下载移动客户端</dd>
			</dl>
			<dl class="weixin_zj">
				<dt>中酒微信</dt>
				<dd>中酒官方微博</dd>
			</dl>
		</div>
	</div>
	
	<div id="link_warp">		
		<a class="link" href="">关于中酒</a>
		<a href="">媒体报道</a>
		<a href="">商务合作</a>
		<a href="">品牌入驻</a>
		<a href="">加入中酒</a>
		<a href="">商家加盟</a>
		<a href="">联系我们</a>
	</div>
	
	<p id="Copyright">Copyright © 2016 中酒网(www.zhongjiu.cn) 版权所有 京ICP备12022216号-2  | 京公网安备 11010502026701 | 购买前请确认达到法定饮酒年龄！中酒网不销售任何含酒精产品给18岁以下人士！</p>
	<p id="contactAddress">中酒时代酒业（北京）有限公司	地址：北京市朝阳区百子湾路16号百子园5号楼A单元106号    电话：010-87703553</p>
	<div id="safetyWebsite">
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
	</div>
	

	<div id="pd_right_nav">
		<!--滑动侧边栏-->
		<ul id="pd_fixed_nav">
			<li class="pd_fixed_nav_li1 fixed_nav">
				购物车<span><i></i></span>
			</li>
			<li class="pd_fixed_nav_li2 fixed_nav">
				收藏<span><i></i></span>
			</li>
			<li class="pd_fixed_nav_li3 fixed_nav">
				优惠券<span><i></i></span>
			</li>
			<li class="pd_fixed_nav_li4">
				顶部<span><i></i></span>
			</li>
			
			<div class="pd_cartnum_warp">
				<i class="pd_cartnum">0</i>
			</div>
		</ul>
		
		
		<!--X按键-->
		<a  class="Xbtn" href="javascript:;"></a>
		
		
		<!--购物车块-->
		<div class="shop_area" style="display: none;">
			<h3><i class="shop_i"></i>购物车</h3>
			<dl class="shop_area_dl">
				<dt></dt>
				<dd>
					购物车是空的，<br />
					赶紧去挑选心仪的商品吧~<br />
					<a href="">去首页看看</a>
				</dd>
			</dl>
		</div>
		
		<!--收藏-->
		<div class="shop_area" style="display: none;">
			<h3><i class="collect_i"></i>收藏</h3>
			<ul class="collect_ul">
				<li>
					<a class="pic_a" href="javascript:;">
						<img src="../../static/images/other/f774168f-e916-4da3-a0ad-4822f164e31dS.jpg.png" title="马爵干红葡萄酒 750ml（6瓶装）" />
						<span class="pic_del"></span>
						<span class="pic_btn">加入购物车</span>
						<p class="pic_price">￥999.00</p>
					</a>
					
				</li>
				<li>
					<a class="pic_a" href="javascript:;">
						<img src="../../static/images/other/444dcd76-82dc-4bac-85f0-bf9d60942902S.jpg.png" title="42°西藏天佑德青稞酒-加持 500ml（2瓶装）" />
						<span class="pic_del"></span>
						<span class="pic_btn">加入购物车</span>
						<p class="pic_price">￥299.00</p>
					</a>
				</li>
			</ul>
			<a class="lookmore" href="">查看更多<i></i></a>
		</div>
		
		<!--优惠券-->
		<div class="shop_area">
			<h3><i class="discount_i"></i>优惠券</h3>
			<div class="discount">
				<span class="discount_left">10<sub>元</sub></span>
				<span class="discount_right">
					有效期<br />
					2016.09.01-09.30<br />
					10元直减券
				</span>
			</div>
			<div class="discount">
				<span class="discount_left">30<sub>元</sub></span>
				<span class="discount_right">
					有效期<br />
					2016.09.01-09.30<br />
					30元直减券
				</span>
			</div>
			<div class="discount">
				<span class="discount_left">30<sub>元</sub></span>
				<span class="discount_right">
					有效期<br />
					2016.09.01-09.30<br />
					30元直减券
				</span>
			</div>
			<div class="discount">
				<span class="discount_left">60<sub>元</sub></span>
				<span class="discount_right">
					有效期<br />
					2016.09.01-09.30<br />
					60元直减券
				</span>
			</div>
			<div class="discount">
				<span class="discount_left">60<sub>元</sub></span>
				<span class="discount_right">
					有效期<br />
					2016.09.01-09.30<br />
					60元直减券
				</span>
			</div>
			
			<a class="lookmore" href="">查看更多<i></i></a>
		</div>
		
		
		
		
		
		
		
		
	</div>
	
		
	</body>
</html>
