<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
	</head>
	<body>
	<p style="text-indent: 2em;">钢铁是怎样炼成的描写保尔·柯察金经历第一次世界大战、十月革命、国内战争和国民经济恢复时期的严峻生活。
保尔早年丧父，母亲替人洗衣、做饭，哥哥是工人。保尔12岁时，母亲把他送到车站食堂当杂役，受尽了凌辱。
十月革命爆发，老布尔什维克朱赫莱在镇上做地下工作。朱赫莱给保尔讲了关于革命、工人阶级和阶级斗争的许多道理。
朱赫莱被匪徒抓去了。尔与朱赫莱一起逃跑。由于维克多的告密，保尔被投进了监牢。从监狱出来后，保尔跳进冬妮亚的花园。
冬妮亚和保尔产生了爱情。在激战中，保尔头部受了重伤。出院后，他参加恢复和建设国家的工作。冬妮亚和保尔思想差距越来越大,便分道扬镳.....</p>
	<a href="{% url 'user:home' %}"><button type="button">返回</button></a>
	</body>
</html>