<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>用户中心-中酒网</title>
		<link rel="shortcut icon" type="image/X-icon" href="../../static/images/public/title_logo.png" />
		<link rel="stylesheet" href="../../static/css/style.css" />
		<link rel="stylesheet" href="../../static/css/mall.css" />
		<link rel="stylesheet" href="../../static/css/helpCenter.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/userCenter.css"/>
		<script type="text/javascript" src="../js/jquery-1.12.4.min.js" ></script>
		<script type="text/javascript" src="../js/style.js" ></script>
		<script type="text/javascript" src="../js/uploadPreview.min.js" ></script>
	</head>
	<body>
	<a id="header" href=""></a>
	
	<div id="site_nav">
		<ul id="site_nav_center">
			<li class="nav_left_home"><a href="#">中酒首页</a></li>
			<li class="nav_left">Hi，欢迎来到中酒</li>
			<li class="nav_left"><a href="login.html" target="_blank">长剑腥腥挂壁</a></li>
			<li class="nav_left register"><a href="register.html" target="_blank">退出</a></li>
			<li class="nav_right tel">订购热线：<strong class="phoneNumber">400-798-9999</strong></li>
			<li class="nav_right help"><a>帮助中心</a></li>
			<li class="nav_right mobile"><a href="">手机版</a></li>
			<li class="nav_right myzj"><a href="login.html" target="_blank">我的中酒</a></li>
		</ul>
	</div>
	
	<div id="search_area">
		<h2><a href="../mall.html"><img src="../../static/images/public/logo.jpg"></a></h2>
		
		<div id="gif_ad"><a href=""><img src="../../static/images/public/0901gif.gif"></a></div>
		
		<div id="search_area_input">
			<form id="search_form" name="" action="">
				<input class="txt" type="text" value="" placeholder="茅台" />
				<button class="btn">搜索</button>
			</form>
			
			<ul id="hot_search">
				<li>热门搜索：</li>
				<li><a href="">买一赠一</a></li>
				<li><a href="">新人特权</a></li>
				<li><a href="">五粮液</a></li>
				<li><a href="">茅台</a></li>
				<li><a href="">国台</a></li>
				<li><a href="">泸州老窖</a></li>
			</ul>
		</div>
		
		<div id="myShoppingCart_warp">
			<h2 id="myShoppingCart">
				<i class="icon_car"></i>
				<a href="">我的购物车</a>
				<span class="pao">
					<i class="pr_num">0</i>
				</span>	
			</h2>
		</div>	
	</div>
	
	<ul id="main_nav">
		<li class="all_goods user_all_goods">全部商品分类
		
			<!--banner图上部分定位 相对于nav-->
			<div id="banner_center"  class="user_banner_center">
				<ul id="center_left">
					<li class="whiteSpirit">					
						<a href="javascript:;"><i></i>名优白酒</a>
								
						<!--名优白酒 详情显示区-->
						<div id="all_goods_area" class="whiteSpirit_area">
							<div id="all_goods_area_left">
								<dl id="brand">
									<dt>品牌</dt>
									<dd>
										<ul>
											<li><a href="">茅台</a></li>
											<li><a href="">五粮液</a></li>
											<li><a href="">泸州老窖</a></li>
											<li><a href="">剑南春</a></li>
											<li><a href="">洋河</a></li>
											<li><a href="">汾酒</a></li>
											<li><a href="">天佑德</a></li>
											<li><a href="">小糊涂仙</a></li>
											<li><a href="">郎酒</a></li>
											<li><a href="">杜康</a></li>
											<li><a href="">古井</a></li>
											<li><a href="">衡水老白干</a></li>
											<li><a href="">孔府家</a></li>
											<li><a href="">西凤</a></li>
											<li><a href="">国台</a></li>
											<li><a href="">牛栏山</a></li>
											<li><a href="">青青稞酒</a></li>
										</ul>
									</dd>
								</dl>
								
								<dl id="brand">
									<dt>品种</dt>
									<dd>
										<ul>
											<li><a href="">酱香型</a></li>
											<li><a href="">绵柔型</a></li>
											<li><a href="">浓香型</a></li>
											<li><a href="">清香型</a></li>
											<li><a href="">特香型</a></li>
											<li><a href="">董香型</a></li>
											<li><a href="">凤香型</a></li>
											<li><a href="">青稞酒</a></li>	
										</ul>
									</dd>
								</dl>
								
								<dl id="brand">
									<dt>产地</dt>
									<dd>
										<ul>
											<li><a href="">贵州</a></li>
											<li><a href="">江西</a></li>
											<li><a href="">四川</a></li>
											<li><a href="">江苏</a></li>
											<li><a href="">山西</a></li>
											<li><a href="">江苏</a></li>
											<li><a href="">山西</a></li>
											<li><a href="">山东</a></li>	
											<li><a href="">内蒙</a></li>
											<li><a href="">河南</a></li>
											<li><a href="">青海</a></li>	
										</ul>
									</dd>
								</dl>	
							</div><!--<div id="all_goods_area_left">-->
								
							<div id="all_goods_area_right">
								<p class="all_goods_area_right_title">促销活动</p>
								<p class="all_goods_area_right_img1"><img src="../../static/images/public/0822guanggao.jpg"></p>
								<p class="all_goods_area_right_img2"><img src="../../static/images/public/0810guanggao.jpg"></p>
							</div>
						</div><!--<div id="all_goods_area" class="whiteSpirit_area">名优白酒-->
						
					</li>
					
					<li class="wine">					
						<a href="javascript:;"><i></i>葡萄酒/红酒</a>
						
						<!--葡萄酒/红酒 详情显示区-->
						<div id="all_goods_area"  class="wine_area">
							<div id="all_goods_area_left">
								<dl id="brand">
									<dt>品牌</dt>
									<dd>
										<ul>
											<li><a href="">拉菲</a></li>
											<li><a href="">佩西</a></li>
											<li><a href="">张裕</a></li>
											<li><a href="">易莎特</a></li>
											<li><a href="">黄尾袋鼠</a></li>
											<li><a href="">乐创</a></li>
											<li><a href="">小龙船</a></li>
											<li><a href="">圣迪斯</a></li>
											<li><a href="">澜爵</a></li>
											<li><a href="">奔富</a></li>
											<li><a href="">康迪</a></li>
											<li><a href="">美圣世家</a></li>
											<li><a href="">中级庄</a></li>
											<li><a href="">通天</a></li>
											<li><a href="">马克斯威</a></li>
											<li><a href="">特拉托</a></li>
										</ul>
									</dd>
								</dl>
								
								<dl id="brand">
									<dt>品种</dt>
									<dd>
										<ul>
											<li><a href="">干红葡萄酒</a></li>
											<li><a href="">干白葡萄酒</a></li>
											<li><a href="">起泡酒/香槟</a></li>
											<li><a href="">冰酒</a></li>
											<li><a href="">果酒</a></li>
											<li><a href="">甜桃红</a></li>
											<li><a href="">甜白</a></li>	
										</ul>
									</dd>
								</dl>
								
								<dl id="brand">
									<dt>产地</dt>
									<dd>
										<ul>
											<li><a href="">法国</a></li>
											<li><a href="">西班牙</a></li>
											<li><a href="">智利</a></li>
											<li><a href="">阿根廷</a></li>
											<li><a href="">澳大利亚</a></li>
											<li><a href="">南非</a></li>
											<li><a href="">中国</a></li>
											<li><a href="">美国</a></li>	
										</ul>
									</dd>
								</dl>	
							</div><!--<div id="all_goods_area_left">-->
							<div id="all_goods_area_right">
								<p class="all_goods_area_right_title">促销活动</p>
								<p class="all_goods_area_right_img1"><img src="../../static/images/public/0323lafeiguanggao.jpg"></p>
								<p class="all_goods_area_right_img2"><img src="../../static/images/public/0711hyguanggao.jpg"></p>
							</div>
						</div>	
	
					</li>
					
					<li class="foreignWine">					
						<a href="javascript:;"><i></i>洋酒</a>
						
						<!--洋酒 详情显示区-->
						<div id="all_goods_area"  class="foreignWine_area">
							<div id="all_goods_area_left">
								<dl id="brand">
									<dt>品牌</dt>
									<dd>
										<ul>
											<li><a href="">马爹利</a></li>
											<li><a href="">兄弟</a></li>
											<li><a href="">人头马</a></li>
											<li><a href="">芝华士</a></li>
											<li><a href="">深蓝</a></li>
											<li><a href="">百利甜</a></li>
											<li><a href="">绝对伏特加</a></li>
											<li><a href="">杰克丹尼</a></li>
											<li><a href="">百龄坛</a></li>
											<li><a href="">红广场</a></li>
											<li><a href="">百加得</a></li>
											<li><a href="">尊尼获加</a></li>
											<li><a href="">叶卡</a></li>
											<li><a href="">轩尼诗</a></li>
											<li><a href="">皇家礼炮</a></li>
											<li><a href="">摩根船长</a></li>
										</ul>
									</dd>
								</dl>
								
								<dl id="brand">
									<dt>品种</dt>
									<dd>
										<ul>
											<li><a href="">聚会用酒</a></li>
											<li><a href="">商务用酒</a></li>
										</ul>
									</dd>
								</dl>
								
								<dl id="brand">
									<dt>产地</dt>
									<dd>
										<ul>
											<li><a href="">国内</a></li>
											<li><a href="">法国</a></li>
											<li><a href="">英国</a></li>
											<li><a href="">美国</a></li>
										</ul>
									</dd>
								</dl>	
							</div><!--<div id="all_goods_area_left">-->
							<div id="all_goods_area_right">
								<p class="all_goods_area_right_title">促销活动</p>
								<p class="all_goods_area_right_img1"><img src="../../static/images/public/yang3.jpg"></p>
								<p class="all_goods_area_right_img2"><img src="../../static/images/public/yang4.jpg"></p>
							</div>
						</div>
						
					</li>
					
					<li class="yellowRice">					
						<a href="javascript:;"><i></i>黄酒</a>
						
						<!--黄酒 详情显示区-->
						<div id="all_goods_area"  class="yellowRice_area">
							<div id="all_goods_area_left">
								<dl id="brand">
									<dt>品牌</dt>
									<dd>
										<ul>
											<li><a href="">塔牌</a></li>
											<li><a href="">古越龙山</a></li>
											<li><a href="">石库门</a></li>
											<li><a href="">会稽山</a></li>
											<li><a href="">女儿红</a></li>
											<li><a href="">唐宋</a></li>
											<li><a href="">劲酒</a></li>
											<li><a href="">尧喝货</a></li>
										</ul>
									</dd>
								</dl>
								
								<dl id="brand">
									<dt>品种</dt>
									<dd>
										<ul>
											<li><a href="">聚会用酒</a></li>
											<li><a href="">礼节拜访</a></li>
											<li><a href="">婚庆用酒</a></li>
										</ul>
									</dd>
								</dl>
								
								<dl id="brand">
									<dt>价格</dt>
									<dd>
										<ul>
											<li><a href="">1-99</a></li>
											<li><a href="">100-199</a></li>
											<li><a href="">200-299</a></li>
										</ul>
									</dd>
								</dl>	
							</div><!--<div id="all_goods_area_left">-->
							<div id="all_goods_area_right">
								<p class="all_goods_area_right_title">促销活动</p>
								<p class="all_goods_area_right_img1"><img src="../../static/images/public/huang1.jpg"></p>
								<p class="all_goods_area_right_img2"><img src="../../static/images/public/huang2.jpg"></p>
							</div>
						</div>
						
					</li>
					
					<li class="gift">					
						<a href="javascript:;"><i></i>礼品专区</a>
						
						<!--礼品专区 详情显示区-->
						<div id="all_goods_area"  class="gift_area">
							<div id="all_goods_area_left">
								<dl id="brand">
									<dt>品牌</dt>
									<dd>
										<ul>
											<li><a href="">国台</a></li>
											<li><a href="">泸州老窖</a></li>
											<li><a href="">牧童村 </a></li>
											<li><a href="">汾酒</a></li>
											<li><a href="">拉菲</a></li>
											<li><a href="">张裕</a></li>
											<li><a href="">小菊屋</a></li>
										</ul>
									</dd>
								</dl>
								
								<dl id="brand">
									<dt>品种</dt>
									<dd>
										<ul>
											<li><a href="">酱香型</a></li>
											<li><a href="">清香型</a></li>
											<li><a href="">干红葡萄酒</a></li>
											<li><a href="">起泡酒</a></li>
										</ul>
									</dd>
								</dl>
								
								<dl id="brand">
									<dt>产地</dt>
									<dd>
										<ul>
											<li><a href="">四川</a></li>
											<li><a href="">贵州</a></li>
											<li><a href="">陕西</a></li>
											<li><a href="">法国</a></li>
										</ul>
									</dd>
								</dl>	
							</div><!--<div id="all_goods_area_left">-->
							<div id="all_goods_area_right">
								<p class="all_goods_area_right_title">促销活动</p>
								<p class="all_goods_area_right_img1"><img src="../../static/images/public/0616tydguanggao.jpg"></p>
								<p class="all_goods_area_right_img2"><img src="../../static/images/public/0711dkguanggao.jpg"></p>
							</div>
						</div>
						
					</li>
					
					<li class="wedCelebration">					
						<a href="javascript:;"><i></i>婚庆专用</a>
						
						<!--婚庆专用  详情显示区-->
						<div id="all_goods_area"  class="wedCelebration_area">
							<div id="all_goods_area_left">
								<dl id="brand">
									<dt>品牌</dt>
									<dd>
										<ul>
											<li><a href="">五粮液</a></li>
											<li><a href="">茅台</a></li>
											<li><a href="">牛栏山 </a></li>
											<li><a href="">剑南春</a></li>
											<li><a href="">西凤</a></li>
											<li><a href="">沱牌</a></li>
										</ul>
									</dd>
								</dl>
								
								<dl id="brand">
									<dt>品种</dt>
									<dd>
										<ul>
											<li><a href="">白酒</a></li>
											<li><a href="">红酒</a></li>
										</ul>
									</dd>
								</dl>
								
								<dl id="brand">
									<dt>产地</dt>
									<dd>
										<ul>									
											<li><a href="">贵州</a></li>
											<li><a href="">四川</a></li>
											<li><a href="">南非</a></li>
											<li><a href="">法国</a></li>
											<li><a href="">中国</a></li>
										</ul>
									</dd>
								</dl>	
							</div><!--<div id="all_goods_area_left">-->
							<div id="all_goods_area_right">
								<p class="all_goods_area_right_title">促销活动</p>
								<p class="all_goods_area_right_img1"><img src="../../static/images/public/0704mkswguanggao.jpg"></p>
								<p class="all_goods_area_right_img2"><img src="../../static/images/public/0711bjguangao.jpg"></p>
							</div>
						</div>
						
					</li>
					
				</ul>
				
			</div>
		
		</li>
		<li class="main_nav_li"><a href="">商城</a></li>
		<li class="main_nav_li"><a href="">闪购</a></li>
		<li class="main_nav_li"><a href="">白酒专场</a></li>
		<li class="main_nav_li"><a href="">红酒专场</a></li>
		<li class="main_nav_li"><a href="">青青稞酒</a></li>
		<li class="main_nav_li"><a href="">美国优选</a></li>
		<li class="main_nav_li"><a href="">新品驾到</a></li>
		<li class="main_nav_li"><a href="">中酒资讯</a></li>
		<li class="main_nav_li hot_area"><a href="">会员专区</a></li>
			
	</ul>
	
	
	<!--中间-->
	<div id="userCenter_wrap">
		<div id="userCenter_center">
			<div class="accountSide">
				<p class="h1icon1"><a href="javascript:;">我的中酒</a></p>
				<p class="h1icon2">交易管理</p>
				<a href="javascript:;">我的订单</a>
				<a href="javascript:;">预定订单</a>
				<a href="javascript:;">我的收藏</a>
				<a href="javascript:;">我的优惠券</a>
				<a href="javascript:;">我的订阅</a>
				<a href="javascript:;">积分记录</a>
				<p class="h1icon3" style="margin-top: 10px;">账户设置</p>
				<a href="javascript:;">短信息</a>
				<a href="javascript:;">个人资料</a>
				<a href="javascript:;">安全中心</a>
				<a href="javascript:;">收货地址管理</a>
			</div>
			
			
			<!--对应的模块-->
			
			<!--我的中酒-->
			<div id="accountSetting_warp">
				<h1>我的中酒</h1>
				<div class="my_info">
					<img src="../../static/images/other/insect2.png" />
					<p>
						<span class="my_info_name">长剑腥腥挂壁</span>
						<span class="my_info_welcome">您好，欢迎光临中酒网</span>
					</p>
					<p class="my_info_rank">
						<span>会员等级：</span>
						<i></i>
						<em>普通会员</em>
					</p>
					<p class="integral">
						<span>账户积分：</span>
						<b>0</b>
					</p>
					<p class="message">
						<em>
							<i></i>
							<a href="">未读消息(<b>0</b>)</a>
							<a href="">系统消息(<b>0</b>)</a>
							<a href="">未付款订单(<b>1</b>)</a>
							<a href="">为确认收货(<b>0</b>)</a>
						</em>
					</p>
				</div>
				
				<div class="indent_warp">
					<div class="indent_header">
						订单列表
						<a href="">更多订单»</a>
					</div>
					
					<table class="tab_goods">
						<tr>
							<td>订单号</td>
							<td>下单时间</td>
							<td>金额</td>
							<td>订单状态</td>
							<td>操作</td>
						</tr>
						<tr>
							<td>10000492769</td>
							<td>2016/9/8 17:59:08</td>
							<td>296.01</td>
							<td>待付款</td>
							<td>
								<a href="javascript:;">取消</a>
								<a href="javascript:;">支付</a>
							</td>
						</tr>
					</table>
					
					<div class="indent_header">
						待评价商品
						<a href="">更多商品评价»</a>
					</div>
					<table class="tab_evaluate">
						<tr>
							<td>商品信息</td>
							<td>评价状态</td>
						</tr>
					</table>	
				</div>	
				
				<!--猜你喜欢-->
				<div id="like">
					<div class="like_tit">
						猜你喜欢
						<a href="">更多</a>
					</div>
					
					<!--轮播-->
					<div class="like_roll">
						
						
					</div>
				</div>
			</div>
			
			
			<!--我的订单-->
			<div id="accountSetting_warp">
				<h1>我的订单</h1>
				<ul class="order_nav">
					<li><a href="javascript:;">全部</a></li>
					<li><a href="javascript:;">未付款</a></li>
					<li><a href="javascript:;">待发货</a></li>
					<li><a href="javascript:;">待收货</a></li>
					<li><a href="javascript:;">已完成</a></li>
				</ul>
				
				<table class="order_list">
					<tr>
						<td>订单号</td>
						<td>订购商品</td>
						<td>订单金额</td>
						<td>购买时间</td>
						<td>订单状态</td>
						<td>操作</td>
					</tr>
					<tr>
						<td><a href="">10000492769</a></td>
						<td>
							<img src="../../static/images/other/1203827a-d67d-400f-ae0c-323db39c4f90M.jpg.png" />
							<img src="../../static/images/other/4cefc691-006e-4cdf-996b-8b0988d6b5d3M.jpg.png" />
							<img src="../../static/images/other/444dcd76-82dc-4bac-85f0-bf9d60942902M.jpg.png" />
						</td>
						<td>296.01<br/>（邮费0.00元）</td>
						<td>2016-09-08</td>
						<td>待付款</td>
						<td><a href="">立即支付</a>|<a href="">取消</a> <br /><a href="">订单详情</a></td>
					</tr>
				</table>
				
				<div class="paging">
					<p>
						<a href="">上一页</a>
						<span>1</span>
						<a>下一页</a>
						<em>共<i>1</i>页</em>
					</p>
				</div>
			</div>
			
			<!--预定订单-->
			<div id="accountSetting_warp">
				<h1>预定订单</h1>
				<table class="order_list">
					<tr>
						<td>订单号</td>
						<td>预订商品</td>
						<td>金额</td>
						<td>预定时间</td>
						<td>状态</td>
						<td>操作</td>
					</tr>
				</table>
				
			</div>
			
			<!--我的收藏-->
			<div id="accountSetting_warp">
				<h1>我的收藏</h1>
				
				<div class="enshrine_word">
					收藏心仪的商品，方便你随时找到它们，也有助于根据你的收藏给你更加贴心的推荐
				</div>
				
				<ul class="enshrine_nav">
					<li><a href="javascript:;">我收藏的产品</a></li>
				</ul>
				
				<div class="enshrine_num">
					您共收藏了3个产品
				</div>
				
				<ul class="enshrine_warp">
					<li>
						<img src="../../static/images/other/88427fef-8adb-4c0f-bfd8-ef4dbaeed223M.jpg.png" />
						<p class="enshrine_name">
							<a href="">马爵干红葡萄酒 750ml（6瓶装）</a>
						</p>
						<p class="enshrine_price">
							<span>￥999.0</span>
							<del>￥1299.0</del>
						</p>
						<div class="enshrine_addcart">
							<a class="shop_btn" href="javascript:;">加入购物车</a>
							<a class="cancel_btn" href="javascript:;">取消</a>
						</div>
					</li>
					
					<li>
						<img src="../../static/images/other/e00388e8-e057-406e-befb-9f8463722c24M.jpg.png" />
						<p class="enshrine_name">
							<a href="">马爵干红葡萄酒 750ml（6瓶装）</a>
						</p>
						<p class="enshrine_price">
							<span>￥589.0</span>
							<del>￥999.0</del>
						</p>
						<div class="enshrine_addcart">
							<a class="shop_btn" href="javascript:;">加入购物车</a>
							<a class="cancel_btn" href="javascript:;">取消</a>
						</div>
					</li>
					
					<li>
						<img src="../../static/images/other/444dcd76-82dc-4bac-85f0-bf9d60942902M.jpg.png" />
						<p class="enshrine_name">
							<a href="">马爵干红葡萄酒 750ml（6瓶装）</a>
						</p>
						<p class="enshrine_price">
							<span>￥169.0</span>
							<del>￥399.0</del>
						</p>
						<div class="enshrine_addcart">
							<a class="shop_btn" href="javascript:;">加入购物车</a>
							<a class="cancel_btn" href="javascript:;">取消</a>
						</div>
					</li>
				</ul>
				
				<div class="paging">
					<p>
						<a href="">上一页</a>
						<span>1</span>
						<a>下一页</a>
						<em>共<i>1</i>页</em>
					</p>
				</div>
			</div>
			
			<!--我的优惠券-->
			<div id="accountSetting_warp">
				<h1>我的优惠券</h1>
				<ul class="order_nav">
					<li><a href="javascript:;">全部</a></li>
					<li><a href="javascript:;">可使用</a></li>
					<li><a href="javascript:;">已使用</a></li>
					<li><a href="javascript:;">已过期</a></li>
				</ul>
				
				<table class="order_list">
					<tr>
						<td>券号</td>
						<td>规则</td>
						<td>条件</td>
						<td>生效时间</td>
						<td>截止时间</td>
						<td>使用时间</td>
						<td>状态</td>
					</tr>
					<tr>
						<td>0247960B48</td>
						<td>注册送200活动 满699减60元优惠券</td>
						<td>特价商品不能使用优惠券</td>
						<td>2016-09-01<br/>00:00:00</td>
						<td>2016-09-30<br />23:59:59</td>
						<td>未使用</td>
						<td>未过期</td>
					</tr>
					<tr>
						<td>0247960B48</td>
						<td>注册送200活动 满699减60元优惠券</td>
						<td>特价商品不能使用优惠券</td>
						<td>2016-09-01<br/>00:00:00</td>
						<td>2016-09-30<br />23:59:59</td>
						<td>未使用</td>
						<td>未过期</td>
					</tr>
					<tr>
						<td>0247960B48</td>
						<td>注册送200活动 满699减60元优惠券</td>
						<td>特价商品不能使用优惠券</td>
						<td>2016-09-01<br/>00:00:00</td>
						<td>2016-09-30<br />23:59:59</td>
						<td>未使用</td>
						<td>未过期</td>
					</tr>
				</table>
				
				<div class="paging">
					<p>
						<a href="">上一页</a>
						<span>1</span>
						<a>下一页</a>
						<em>共<i>1</i>页</em>
					</p>
				</div>
				
				<!--什么是优惠券-->
				<div class="coupons_explain">
					<p>什么是优惠券：</p>
					优惠券是中酒网通过买赠，活动参与，积分兑换等形式发放给用户，亦可从中酒网合作渠道获得的，
					用于减免购买支付的惠民措施。从使用限额分为满减券和直减券；从商品品类进一步划分，
					分为限品类满减券和直减券；从销售主体进一步划分，分为限品牌满减券和直减券；
					使用优惠券优惠部分不开具发票<br /><br />
					<p>优惠券使用规则：</p>
					1.当您从购物车中结算时，在订单结算页可选择（或输入）您的优惠券号，即可获得相应的优惠<br />
					2.一个订单只能使用一张优惠券，如果优惠券面额大于订单总额，不进行退余<br />
					3.优惠券只能在有效的时间内使用，过期作废<br />
					4.优惠券不能用来支付相关运费，且不可兑现<br />
					5.优惠券严禁出售或转让，如经发现并核实后，该券将予以作废处理<br />
					6.使用优惠券支付的订单，退款结算按照实际结算金额退款，优惠券部分不予退还<br />
					7.预售、团购、秒杀以及其他标识不可用优惠券的商品，不可使用优惠券支付<br />
					8.优惠券一旦使用，将无法退回，请在使用前斟酌确认<br />
					9.优惠券最终解释权归中酒网所有<br />
				</div>
					
			</div>
			
			
			
			<!--我的订阅-->
			<div id="accountSetting_warp">
				<h1>我的订阅</h1>
				<div class="subscription_warp">
					<div class="subscription">
						<div class="subscription_left">
							<img src="../../static/images/other/envelope.gif" />
							<p>我的订阅</p>
						</div>
						<div class="subscription_right">
							<div>
								<p class="right1">如果您需要第一时间获取中酒网每日促销信息，请订阅邮件！</p>
								<p class="right2">
									<input class="input_txt" type="text" />
									<input class="input_btn" type="button" value="马上订阅" />
								</p>
								<p class="right3">请放心，我们和您一样讨厌垃圾邮件</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--积分记录-->
			<div id="accountSetting_warp">
				<h1>积分记录</h1>
				<p class="integral_top">仅显示最近20条记录</p>
				<div class="integral_explain">
					<p>说明</p>
					如订单发生退货，会减去退货的金额，然后计算积分。<br/>
					积分值获得办法：登录、购物、评价、晒单。积分越高会员级别越高，享受到的会员权益越大。
				</div>
			</div>
			
			<!--短信息-->
			<div id="accountSetting_warp">
				<h1>短信息</h1>
				<table class="order_list">
					<tr>
						<td>标题</td>
						<td>发件人</td>
						<td>发送时间</td>
						<td>操作</td>
					</tr>
				</table>
			</div>
			
			<!--个人资料-->
			<div id="accountSetting_warp">
				<h1>个人资料</h1>
				<div id="setting">
					<div id="img_warp">
						 <div id="imgdiv"><img id="imgShow" width="100" height="100" /></div>
						<!--<img id="imgShow" >-->
						<label id="up_img" for="putfile">更换头像</label>
						<input type="file" id="putfile" style="visibility: hidden;" />
						
						 <script>
					       window.onload = function () { 
					            new uploadPreview({ UpBtn: "putfile", DivShow: "imgdiv", ImgShow: "imgShow" });
					        }
					    </script>
						
						
						
					</div>
					<div id="setting_nav">
						<a class="nav_a nav_a1 active_new_a" href="javascript:;">个人资料</a>
						<a class="nav_a nav_a2" href="javascript:;">详细信息</a>
					</div>
					
					<!--个人资料-->
					<table class="personalData_table">
						<tr class="personalData_rows1">
							<td class="tablel rows1_left">性别：</td>
							<td>
								<input type="radio" name="sex" />女
								<input type="radio" name="sex" />男
							</td>
						</tr>
						
						<tr class="personalData_rows1">
							<td class="tablel rows1_left">生日：</td>
							<td>
								<select>
									<option>1990</option>
									<option>1991</option>
									<option>1992</option>
									<option>1993</option>
									<option>1994</option>
									<option>1995</option>
									<option>1996</option>
									<option>1997</option>
									<option>1998</option>
									<option>1999</option>
									<option>2000</option>
								</select>
								<span>年</span>
								<select>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
								</select>
								<span>月</span>
								<select>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>
									<option>19</option>
									<option>20</option>
									<option>21</option>
									<option>22</option>
									<option>23</option>
									<option>24</option>
									<option>25</option>
									<option>26</option>
									<option>27</option>
									<option>28</option>
									<option>29</option>
									<option>30</option>
									<option>31</option>
								</select>
								<span>日</span>
							</td>
						</tr>
						
						<tr class="personalData_rows1">
							<td class="tablel"></td>
							<td>明年的这一天，也许会有来自中酒的惊喜哦</td>
						</tr>
						
						<tr class="personalData_rows2">
							<td class="tablel"></td>
							<td>
								<input class="table_btn" type="button" value="保存" />
							</td>
						</tr>
					</table>
					
					<!--详细信息-->
					<table class="detailedInformation_table">
						<tr class="table2_left1">
							<td class="rows2_left">婚姻状况：</td>
							<td>
								<select>
									<option>请选择</option>
									<option>已婚且有子女</option>
									<option>已婚暂无子女</option>
									<option>恋爱中</option>
									<option>单身</option>
								</select>
							</td>
						</tr>
						<tr class="table2_left1">
							<td class="rows2_left">学校混了多久：</td>
							<td>
								<select>
									<option>请选择</option>
									<option>高中/大专及以下</option>
									<option>大专</option>
									<option>本科</option>
									<option>研究生以上</option>									
								</select>
							</td>
						</tr>
						<tr class="table2_left1">
							<td class="rows2_left">从事职业：</td>
							<td>
								<select>
									<option>请选择</option>
									<option>企业雇主/企业经营者</option>
									<option>办公职员(一般文职、业务、办事人员等)</option>
									<option>中层管理人员(总监、经理、主任等)</option>
									<option>专业人士(会计师、律师、工程师、医生、教</option>
									<option>办公职员(一般文职、业务、办事人员等)</option>
									<option>工人/蓝领</option>
									<option>公务员、公共事业单位员工</option>
									<option>自由职业者</option>
									<option>军人</option>
									<option>学生</option>
									<option>退休/无业人员</option>
									<option>家庭主妇</option>
									<option>其他</option>
								</select>
							</td>
						</tr>
						<tr class="table2_left1">
							<td class="rows2_left">所属行业：</td>
							<td>
								<select>
									<option>请选择</option>
									<option>政府机关/社会团体</option>
									<option>邮电通讯</option>
									<option>IT业/互联网</option>
									<option>商业/贸易</option>
									<option>旅游/餐饮/酒店</option>
									<option>银行/金融/证券/保险/投资</option>
									<option>健康/医疗服务</option>
									<option>建筑/房地产</option>
									<option>交通运输/物流仓储</option>
									<option>法律/司法</option>
									<option>文化/娱乐/体育</option>
									<option>媒介/广告/咨询</option>
									<option>教育/科研</option>
									<option>农业/林业/牧业/渔业</option>
									<option>制造业</option>
									<option>能源/公用事业</option>
									<option>其他</option>
								</select>
								
							</td>
						</tr>
						<tr class="table2_left1">
							<td class="rows2_left">一年挣多少米:</td>
							<td>
								<select>
									<option>请选择</option>
									<option>4万元以下</option>
									<option>4~6万</option>
									<option>6~10万</option>
									<option>10~15万</option>
									<option>15~20万</option>
									<option>20~25万</option>
									<option>25万以上</option>
								</select>
							</td>
						</tr>
						<tr style="height: 20px;">
							<td></td>
							<td></td>
						</tr>
						<tr class="likewine_warp" style="height: 200px;">
							<td class="likewine">经常喝的酒:</td>
							<td>
								<p>
									<input type="checkbox" name="like" />白酒	
								</p>
								<p>
									<input type="checkbox" name="like" />洋酒
								</p>
								<p>
									<input type="checkbox" name="like" />葡萄酒
								</p>
								<p>
									<input type="checkbox" name="like" />保健酒
								</p>
								<p>
									<input type="checkbox" name="like" />名庄酒
								</p>
								<p>
									<input type="checkbox" name="like" />黄酒
								</p>
								<p>
									<input type="checkbox" name="like" />啤酒
								</p>
								<p>
									<input type="checkbox" name="like" />果酒
								</p>
							</td>
						</tr>
						
						<tr>
							<td class="rows2_left" style="padding:0 10px 90px 0;">喜欢的酒类品牌:</td>
							<td>
								<textarea style="width: 307px;height: 108px; resize: none;border: 1px solid #ccc;"></textarea>
							</td>
						</tr>
						
						<tr style="height: 30px;">
							<td></td>
							<td></td>
						</tr>
						
						<tr style="height: 65px;">
							<td class="rows2_left"></td>
							<td><input class="table_btn" type="button" value="保存" /></td>
						</tr>
					</table>
					
				</div>
			</div>
			
			<!--安全中心-->
			<div id="accountSetting_warp">
				<h1>安全中心</h1>
				<p class="safety_top">
					<strong>安全级别:</strong>
					<i></i>
					<em>较低</em>
					<span>建议您启动全部安全设置，以保障账户及资金安全。</span>
				</p>
				
				<div class="safety_item">
					<i class="icon_yes"></i>
					<b>登录密码</b>
					<span>互联网账号存在被盗风险，建议您定期更改密码以保护账户安全。</span>
					<a href="">修改</a>
				</div>
				
				<div class="safety_item">
					<i class="icon_warn"></i>
					<b>邮箱验证</b>
					<span class="safety_item_explain">验证后，可用于快速找回登录密码，接收账户余额变动提醒。</span>
					<a class="safety_item_btn" href="">立即验证</a>
				</div>
				
				<div class="safety_item">
					<i class="icon_warn"></i>
					<b>手机验证</b>
					<span class="safety_item_explain">验证后，可用于快速找回登录密码及支付密码，接收账户余额变动提醒。</span>
					<a class="safety_item_btn" href="">立即验证</a>
				</div>
				
				<div class="safety_item">
					<i class="icon_warn"></i>
					<b>支付密码</b>
					<span class="safety_item_explain">启用支付密码后，在使用账户资产时，需通过支付密码进行身份验证。</span>
					<a class="safety_item_btn btn2" href="">支付密码管理</a>
				</div>
				
				<h1 style="color: #333;">安全服务提示</h1>
				<p class="safety_prompt">1.确认您登录的是中酒网址<a href="http://www.zhongjiu.cn">http://www.zhongjiu.cn</a>，注意防范进入钓鱼网站，不要轻信各种即时通讯工具发送的商品或支付链接，谨防网购诈骗。</p>
				<p class="safety_prompt">2.建议您安装杀毒软件，并定期更新操作系统等软件补丁，确保账户及交易安全。 </p>
			</div>
			
			<!--收货地址管理-->
			<div id="accountSetting_warp">
				<h1>收货地址管理</h1>
				<p class="usefuladdress">已保存的有效地址</p>
				
				<table class="address_tab">
					<tr style="height: 29px;">
						<td>收货人</td>
						<td>所在地区</td>
						<td>街道地址</td>
						<td>邮编</td>
						<td>电话/手机</td>
						<td></td>
						<td>操作</td>
					</tr>
					<tr style="height: 57px;">
						<td>Lucy</td>
						<td>河南-郑州市-金水区</td>
						<td>经八路3072号</td>
						<td>450005</td>
						<td>151****9291</td>
						<td>默认地址</td>
						<td>
							<a href="javascript:;">修改</a><br />
							<a href="javascript:;">删除</a>
						</td>
					</tr>
				</table>
				<p class="address_tab_ft">(最多保存5个有效地址)</p>
				
			</div>
		</div>
		
		
		
		
		
		
		
		
		
		
		
	</div><!--中间-->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!--页脚-->
	<div id="help_footer">
			<ul id="help_QS">
				<li>
					<i class="help_QS1"></i>
					<h4>品质保障</h4>
					<p>厂家直供 真品防伪</p>
				</li>
				<li>
					<i class="help_QS2"></i>
					<h4>酒类O2O</h4>
					<p>线上线下标准化</p>
				</li>
				<li>
					<i class="help_QS3"></i>
					<h4>7天无理由退货</h4>
					<p>拆封无条件退货</p>
				</li>
				<li>
					<i class="help_QS4"></i>
					<h4>快速安全</h4>
					<p>专业配送 安全送达</p>
				</li>
				<li>
					<i class="help_QS5"></i>
					<h4>百万口碑</h4>
					<p>400万用户的认可</p>
				</li>
				<li class="last_li">
					<i class="help_QS6"></i>
					<h4>特色服务</h4>
					<p>7*12小时的贴心服务</p>
				</li>
			</ul>
			
			<div id="bottom_line"></div>
			
			<div id="footer_nav_up_warp">
				<div id="footer_nav_up_left">
					<dl>
						<dt class="left_icon1">购物指南</dt>
						<dd>
							<a href="">购物流程</a>
							<a href="">常见问题</a>
							<a href="">帮助中心</a>
							<a href="">会员协议</a>
						</dd>
					</dl>
					
					<dl>
						<dt class="left_icon2">购物配送</dt>
						<dd>
							<a href="">99免运费</a>
							<a href="">配送说明</a>
							<a href="">快递查询</a>
							<a href="">验货与签收</a>
						</dd>
					</dl>
					
					<dl>
						<dt class="left_icon3">支付方式</dt>
						<dd>
							<a href="">货到付款</a>
							<a href="">支付宝 银联 信用卡</a>
							<a href="">在线支付9.9折</a>
						</dd>
					</dl>
					
					<dl>
						<dt class="left_icon4">售后服务</dt>
						<dd>
							<a href="">服务承诺</a>
							<a href="">退款说明</a>
							<a href="">退换货政策</a>
							<a href="">退换货流程</a>
						</dd>
					</dl>
					
					<dl>
						<dt class="left_icon5">服务保障</dt>
						<dd>
							<a href="">真品防伪，四码合一</a>
							<a href="">7天无条件退货</a>
							<a href="">7*12小时贴心服务</a>
							<a href="">30分钟快速响应</a>
						</dd>
					</dl>
				</div>
				
				<div id="footer_nav_up_right">
					<div>
						<h3>手机中酒</h3>
						<img src="../../static/images/login/zj_phone.png" />
						<h4>下载移动客户端</h4>
					</div>
					
					<div>
						<h3>手机中酒</h3>
						<img src="../../static/images/login/zj_wx.png" />
						<h4>中酒官方微信</h4>
					</div>
				</div>
				
			</div>
			
			<div id="link_warp">		
				<a class="link" href="">关于中酒</a>
				<a href="">媒体报道</a>
				<a href="">商务合作</a>
				<a href="">品牌入驻</a>
				<a href="">加入中酒</a>
				<a href="">商家加盟</a>
				<a href="">联系我们</a>
			</div>
			
			<p id="Copyright">Copyright © 2016 中酒网(www.zhongjiu.cn) 版权所有 京ICP备12022216号-2  | 京公网安备 11010502026701</p>
			<p id="contactAddress"><span>购买前请确认达到法定饮酒年龄！</span>中酒网不销售任何含酒精产品给18岁以下人士！</p>
			<div id="safetyWebsite">
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
			</div>
			
		</div>
	
	
	
	
	</body>
</html>
