<!DOCTYPE html>
<html >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>博客</title>
		<link href="/static/user/css/style_log.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="/static/user/css/style.css">
		<link rel="stylesheet" type="text/css" href="/static/user/css/userpanel.css">
		<link rel="stylesheet" type="text/css" href="/static/user/css/jquery.ui.all.css">
	</head>
		<style type="text/css">
			#button1 { 
				float:right;
				width:60px; 
				height:20px;
				background-color:#6EB3EF ;
				border:none; 
				color:#FFF;
				padding-bottom:2px;
				font-size:14px;
				font-weight:bold;
				}
		</style>
	<body class="login" mycollectionplug="bind">
		<form action="{% url 'user:register' %}" method="post">
			{% csrf_token %}
			<div class="login_m">
			<div class="login_logo"><img src="/static/user/img/logo.png" width="196" height="46"></div>
			<div class="login_boder">
			<div class="login_padding" id="login_model">
				<h2 style="color: red;">{{msg}}</h2>
				<h2>用户名</h2>
				<label>
					<input type="text" id="username" name="name" class="txt_input txt_input2" onfocus="if (value ==&#39;Your name&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;Your name&#39;}" placeholder="请输入你的名字" >
				</label>
				<h2>密码</h2>
				<label>
					<input type="password" name="passwd" id="userpwd" class="txt_input" onfocus="if (value ==&#39;******&#39;){value =&#39;&#39;}" onblur="if (value ==&#39;&#39;){value=&#39;******&#39;}" placeholder="******">
				</label>
				<div class="rem_sub">
				
					<label>
						<input type="submit"  name="button" id="button1" value="注册"  />
					</label>
				</div>
				
			</div>
		</form>
	</body>
</html>